.features{
    padding: 0 1rem 8rem 1rem;
    font-family: $primary-font;

    @include responsive__mode(tablet-portrait){
        padding: 0 2rem 4rem 2rem;
    }

    @include responsive__mode(tablet){
        padding: 0 3rem 3rem 3rem;
    }

    @include responsive__mode(tablet-landscape){
        padding: 0 2rem 4rem 2rem;
    }

    @include responsive__mode(desktop){
        padding: 0 6rem 8rem 6rem;
    }

    &__nav{
        padding-top: 2.5rem;
        padding-bottom: 3.5rem;
        text-align: center;

        &--items{
            list-style: none;

            &::after{
                content: '';
                background: $dark-grey;
                width: 100%;
                margin: 0 auto;
                height: 1px;
                display: block;

                @include responsive__mode(tablet-portrait){
                    width: 65.4%;
                }

                @include responsive__mode(tablet){
                    width: 100%;
                }

                @include responsive__mode(tablet-landscape){
                    width: 80%;
                }

                @include responsive__mode(desktop){
                    width: 65.4%;
                }
            }
        }

        &--link{
            text-decoration: none;
            display: block;
            padding: 0.6rem 0 0 0;
            text-align: center;
            cursor: pointer;
            border-top: 1px solid $dark-grey;

            & .btns{
                background: transparent;
                border: none;
                outline: none;
                color: $grey-blue;
                cursor: pointer;

                @include responsive__mode(tablet-portrait){
                    font-size: 0.8rem;
                }
    
                @include responsive__mode(tablet){
                    font-size: 1rem;
                }
            }

            @include responsive__mode(tablet-portrait){
                display: inline-block;
                vertical-align: middle;
                width: 20%;
                font-size: 0.8rem;
                margin: 0 1rem;
                padding: 0;
                text-align: center;
                transition: all 0.3s;
                border-top: none;
            }

            @include responsive__mode(tablet){
                font-size: 1rem;
                width: 25%;
            }

            @include responsive__mode(tablet-landscape){
                font-size: 1rem;
            }

            &::after{
                content: '';
                display: block;
                background: $soft-red;
                border-bottom: 2px solid $soft-red;
                margin: 0.5rem auto 0 auto;
                height: 2px;
                width: 100%;
                opacity: 0;

                @include responsive__mode(tablet-portrait){
                    margin: 1rem 0 0 0;
                    transition: all 0.3s;
                }

            }

            &:hover button,
            &:active button{
                color: $soft-red;
            }

            &:hover,
            &:active{
                &::after{
                    opacity: 1;
                }
            }
        }
    }

    &__elements{
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-basis: 100%;

        @include responsive__mode(tablet-portrait){
            align-content: center;
            flex-direction: column;
            justify-content: center;
            flex-basis: 100%;
        }

        @include responsive__mode(tablet){
            display: flex;
            align-content: center;
            flex-direction: row;
            justify-content: center;
            flex-basis: 100%;
        }

        &--image{
            width: 100%;
            margin-right: 0;
            position: relative;
            margin-bottom: 4rem;

            @include responsive__mode(tablet-portrait){
                width: 100%;
            }

            @include responsive__mode(tablet){
                width: 45%;
                margin-right: 2.5rem;
                margin-bottom: 0;
            }

            @include responsive__mode(tablet-landscape){
                width: 40%;
                margin-right: 4.5rem;
            }

            &::after{
                content: '';
                display: inline-block;
                background: $soft-blue;
                width: 80%;
                height: 45%;
                position: absolute;
                top: 47%;
                left: -30%;
                transform: scale(2.1);
                border-radius: 50px;
                z-index: -1;

                @include responsive__mode(tablet-portrait){
                    width: 80%;
                    height: 25%;
                    top: 60%;
                    left: -65%;
                    transform: scale(3);
                }

                @include responsive__mode(tablet){
                    width: 80%;
                    height: 30%;
                    top: 55%;
                    left: -70%;
                }

                @include responsive__mode(tablet-landscape){
                    width: 80%;
                    height: 30%;
                    top: 55%;
                    left: -70%;
                }
            }
    
            & img{
                width: 100%;
            }
        }

        &--image2{

            &::after{
                content: '';
                display: inline-block;
                background: $soft-blue;
                width: 80%;
                height: 40%;
                position: absolute;
                top: 40%;
                left: -45%;
                transform: scale(2.1);
                border-radius: 50px;
                z-index: -1;

                @include responsive__mode(tablet-portrait){
                    width: 80%;
                    height: 25%;
                    top: 50%;
                    left: -75%; 
                    transform: scale(3);
                }

                @include responsive__mode(tablet){
                    width: 80%;
                    height: 28%;
                    top: 47%;
                    left: -82%; 
                }
            }
        }

        &--image3{

            &::after{
                content: '';
                display: inline-block;
                background: $soft-blue;
                width: 80%;
                height: 40%;
                position: absolute;
                top: 40%;
                left: -45%;
                transform: scale(2.1);
                border-radius: 50px;
                z-index: -1;

                @include responsive__mode(tablet-portrait){
                    width: 80%;
                    height: 25%;
                    top: 50%;
                    left: -75%; 
                    transform: scale(3);
                }

                @include responsive__mode(tablet){
                    width: 80%;
                    height: 28%;
                    top: 47%;
                    left: -82%; 
                }
            }
        }

        &--description{
            width: 100%;
            text-align: center;

            @include responsive__mode(tablet-portrait){
                width: 100%;
                align-self: center;
            }

            @include responsive__mode(tablet){
                width: 45%;
            }

            @include responsive__mode(tablet-landscape){
                width: 35%;
                text-align: left;
            }

            & h1{
                text-align: center;

                @include responsive__mode(tablet-portrait){
                    text-align: left;
                }
            }

            &-text{
                color: $grey-blue;
                margin-bottom: 1.5rem;
                line-height: 1.5rem;
                text-align: left;
                font-weight: 300;
            }
        }
    }
}
